@charset "utf-8";

body {
    margin: 0px;
    font-size: 10px;
    background-color: #eee;
}

a.link {
    text-decoration: none;
}

/**
 * Cabeçalho da página
 */

header.cabecalho {
    z-index: 999;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 50px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0px 0px 6px rgba(0,0,0, .4);
}

/**
 * Logo
 */

header.cabecalho #cabecalho-logo {
    transition: background-color .2s ease-in-out;
    float: left;
    max-height: 50px;
    padding-right: 10px;
    padding-left: 10px;
}

header.cabecalho #cabecalho-logo:hover {
    transition: background-color .2s ease-in-out;
    background-color: rgba(0,0,0, .05);
}

/**
 * Pesquisa
 */

header.cabecalho #cabecalho-pesquisa {
    float: left;
    height: 50px;
    position: relative;
}

header.cabecalho #cabecalho-pesquisa {
    border-left: 1px solid rgba(0, 0, 0, .2);
    border-right: 1px solid rgba(0, 0, 0, .2);
}

header.cabecalho #cabecalho-pesquisa i.fa {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 2em;
    color: rgba(0,0,0, .4);
}

header.cabecalho #cabecalho-pesquisa input[type=text] {
    transition: .2s ease-in-out;
    margin: 0px;
    padding: 0px;
    border: 0px;
    height: 50px;
    font-family: Lato, Arial, sans-serif;
    font-size: 20px;
    color: rgba(0, 0, 0, .5);
    text-indent: 5px;
    width: 100px;
}

header.cabecalho #cabecalho-pesquisa input[type=text]:focus {
    transition: .2s ease-in-out;
    width: 250px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, .4);
}

/**
 * Links
 */

header.cabecalho nav.cabecalho-nav {
    float: left;
    height: 50px;
}

header.cabecalho nav.cabecalho-nav ul.cabecalho-links-lista {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    font-size: 0px;
}

header.cabecalho nav.cabecalho-nav ul.cabecalho-links-lista li {
    display: inline-block;
    height: 50px;
}

header.cabecalho nav.cabecalho-nav ul.cabecalho-links-lista li a {
    transition: .2s ease-in-out;
    display: inline-block;
    font-size: 20px;
    font-family: Lato, Arial, sans-serif;
    text-transform: uppercase;
    padding: 13px;
    color: rgba(0,0,0, .6);
    border-left: 1px solid rgba(0,0,0, .2);
}

header.cabecalho nav.cabecalho-nav ul.cabecalho-links-lista li a:hover {
    transition: .2s ease-in-out;
    background-color: rgba(0,0,0, .05);;
    color: #ff0033;
}


/* Main */

main.conteudo {
    position: relative;
    max-width: 1024px;
    margin: 0px auto;
    box-shadow: 0px 0px 6px rgba(0,0,0, .4);
    background-color: #fafafa;
    overflow: hidden;
    /* Temporário */
    min-height: 1024px;
}

/**
 * Colocando 50px de margin, pois nosso header está flutuando com posicionamento fixed
 */

main.conteudo-margem {
    margin-top: 50px;
}

/* Imagem showcase */

main.conteudo div.imagem-showcase {
    position: relative;
    width: 100%;
    height: 5em;
    font-size: 6em;
    font-family: Lato, Arial, sans-serif;
    overflow: hidden;
}

main.conteudo div.imagem-showcase div.imagem-showcase-container {
    width: 100%;
    height: 5em;
    text-align: center;
}

main.conteudo div.imagem-showcase div.imagem-showcase-container #imagem-showcase-titulo {
    display: inline-block;
    margin: 0em;
    margin-top: 2.5em;
    color: white;
    text-transform: uppercase;
    text-shadow: 0px 0px 8px rgba(0,0,0, .4);
    /*background-color: rgba(0,0,0, .4);
    padding: .2em;
    border-radius: .1em;*/
    transform: translate(0em, -1em);
}

main.conteudo div.imagem-showcase div.imagem-showcase-container #imagem-showcase-titulo #azul {
    color: cornflowerblue;
    font-weight: bolder;
}

main.conteudo div.imagem-showcase div.imagem-showcase-gradient {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 5em;
    /* Para navegadores que não suportam linear-gradient */
    background-image: url("../recursos/phpgallery/gradient-150.png");

    background-image: linear-gradient(transparent, transparent, transparent, transparent, #000);
    background-repeat: repeat-x;
    background-position: bottom;
}

main.conteudo div.imagem-showcase div.imagem-showcase-imagem {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 5em;
    background-image: url("../recursos/phpgallery/phpgallery-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    filter: blur(2px);
}

/* Conteudo divisão */

div.conteudo-divisao {
    position: relative;
    background-color: cornflowerblue;
    height: 50px;
    overflow: hidden;
    font-family: Raleway, Arial, sans-serif;
    /*box-shadow: 0px 0px 6px rgba(0,0,0, .4);*/
}

div.conteudo-divisao h1 {
    font-size: 40px;
    height: 50px;
    padding-left: 50px;
    padding-right: 50px;
    color: white;
    margin: 0px;
    text-align: center;
}

div.conteudo-divisao i.conteudo-divisao-icone {
   position: absolute;
   font-size: 50px;
   padding-right: 5px;
   padding-left: 5px;
   border-radius: 100%;
   color: cornflowerblue;
   background-color: white;
   transform: scale(1.7);
}

/**
 * Lista de imagens
 */

ul.lista-imagens {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    font-size: 0px;
}

ul.lista-imagens li {
    display: inline-block;
}

ul.lista-imagens li div.lista-imagem-container img {
    max-width: 220px;
    max-height: 220px;
    display: block;
}

ul.lista-imagens li div.lista-opcoes-container button.lista-opcoes-botao {
    font-size: 15px;
}