@charset "utf-8";

body {
	margin: 0;
	padding: 0;
	border: 0;
	background-color: #f0f0f0;
	font-family: Lato, Arial, sans-serif;
	font-size: 62.5%;
	word-wrap: break-word;
	/* 1 em = 10px */
}

header, nav, main, article, footer {
	display: block;
}

ul {
	margin: 0;
	padding: 0;
	border: 0;
	list-style-type: none;
}

a {
	text-decoration: none;
}

a.link-efeito {
	color: lightskyblue;
}

a.link-efeito:hover {
	color: cornflowerblue;
}

@keyframes cair {
	from {
		opacity: 0;
		transform: translate(0em, -1em);
	} to {
		opacity: 1;
		transform: translate(0em, 0em);
	}
}

.bolder {
	font-weight: bold;
}

.dashed-container {
	border-radius: 5px;
	background-color: rgba(0,0,0, .7);
	width: 95%;
	border: 1px dashed #777;
}

/**
 * Cabeçalho
 */

header {
	z-index: 999;
	position: absolute;
	transition: .3s ease-in-out;
	left: 0;
	top: 0;
	right: 0;
	width: 100%;
	height: 50px;
	overflow: hidden;
	transform: translate(0, -100%);
	background-color: transparent;
}

header.ativado {
	position: fixed;
	transition: .3s ease-in-out;
	transform: translate(0, 0%);
	box-shadow: 0px 0px 8px rgba(0,0,0, .4);
	background-color: rgba(0,0,0, .7);
}

header.ativado nav ul li a {
	color: rgba(255,255,255, .8);
}

header.ativado div.usuario-container {
	transition: .1s ease-in-out;
	background-color: rgba(0,0,0, .2);
}

header.ativado div.usuario-container span.usuario-nome {
	transition: .1s ease-in-out;
	color: rgba(255,255,255, .5);
}

header div.centro {
	max-width: 1024px;
	margin: 0em auto;
	height: 50px;
}

header img {
	display: inline-block;
	transition: background-color .1s ease-in-out;
	height: 50px;
	padding: 0 .5em;
}

header img:hover {
	transition: background-color .1s ease-in-out;
	background-color: rgba(0,0,0, .2);
}

/**
 * Navegação do cabeçalho
 */

header nav {
	float: right;
}

header nav li {
	display: inline-block;
}

header nav li a {
	transition: .1s ease-in-out;
	display: block;
	font-size: 2em;
	text-transform: uppercase;
	color: rgba(0,0,0, .4);
	padding: .65em .65em;
}

header nav li a:hover {
	transition: .1s ease-in-out;
	background-color: rgba(0,0,0, .2);
}

/**
 * Header usuário container
 */

header div.usuario-container {
	transition: .1s ease-in-out;
	position: relative;
	padding: 0 10px;
	float: right;
	height: 100%;
}

header div.usuario-container #usuarioMenuBtn {
	outline: none;
	float: right;
	font-size: 16px;
	color: rgba(255,255,255, .4);
	transform: translate(0, 15px);
	background-color: transparent;
	border-radius: 16px;
	margin: 0;
	cursor: pointer;
	border: none;
}

header div.usuario-container #usuarioMenuBtn:hover {
	color: white;
	background-color: rgba(0,0,0, .4);
}

header div.usuario-container #usuarioMenuBtn.ativado {
	color: white;
	background-color: rgba(0,0,0, .4);
}

header div.usuario-container span.usuario-nome {
	float: right;
	font-size: 16px;
	color: rgba(0,0,0, .4);
	transform: translate(0, 14px);
}

header div.usuario-container img {
	float: right;
}

/**
 * Usuário menu
 */

nav#usuarioMenu {
	transition: .1s ease-in-out;
	z-index: 998;
	position: fixed;
	visibility: hidden;
	opacity: 0;
	background-color: #333;
	width: 128px;
	border-radius: 5px;
	box-shadow: 0px 0px 6px rgba(0,0,0, .4);
	transform: translate(0, -.5em);
}

nav#usuarioMenu.ativado {
	transition: .1s ease-in-out;
	visibility: visible;
	opacity: 1;
	transform: translate(0, .5em);
}

nav#usuarioMenu::before {
	position: absolute;
	content: "....";
	color: transparent;
	font-size: .5em;
	right: 1%;
	background-color: #333;
	top: -.35em;
	transform: translate(-.5em) rotate(45deg);
}

nav#usuarioMenu ul li {
	text-align: center;
}

nav#usuarioMenu ul li a {
	display: inline-block;
	font-size: 1.6em;
	text-transform: uppercase;
	padding: .2em 0;
	font-family: Source Sans Pro, Arial, sans-serif;
	color: rgba(255,255,255, .75);
}

nav#usuarioMenu ul li a:hover {
	color: rgba(255,255,255, 1);
}

/**
 * Logo showcase
 */

div.logo-showcase {
    position: relative;
    /**
    * Colocando 50px de margin, pois nosso header está flutuando com posicionamento fixed ou absolute
     */
    width: 100%;
    height: 5em;
    font-size: 8em;
    overflow: hidden;
}

div.logo-showcase div.logo-showcase-container {
    position: relative;
    width: 100%;
    height: 5em;
    text-align: center;
}

div.logo-showcase div.logo-showcase-container #logo-showcase-titulo {
    display: inline-block;
    margin: 0px;
    margin-top: 1.75em;
    word-wrap: break-word;
    color: white;
    text-transform: uppercase;
    text-shadow: 0px 0px 8px rgba(0,0,0, .4);
}

div.logo-showcase div.logo-showcase-container #logo-showcase-titulo .azul-negrito {
    color: cornflowerblue;
    font-weight: bolder;
}

div.logo-showcase div.logo-showcase-container #logo-showcase-titulo .versao {
    font-size: .2em;
}

div.logo-showcase div.logo-showcase-gradient {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 5em;
    /* Para navegadores que não suportam linear-gradient */
    background-image: url("/static/resources/gradient-150.png");

    background-image: linear-gradient(transparent, transparent, transparent, transparent, #efefef);
    background-repeat: repeat-x;
    background-position: bottom;
}

div.logo-showcase div.logo-showcase-imagem {
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 5em;
    background-image: url("/static/resources/phpgallery-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='4');
    filter: blur(4px);
    filter: scale(1.1);
    animation: 30s zoomInOut ease-in-out infinite;
}

@keyframes zoomInOut {
	0% {
		transform: scale(1.1) rotate(0deg);
	} 50% {
		transform: scale(1.2) rotate(1.6deg);
	} 100% {
		transform: scale(1.1) rotate(0deg);
	}
}

/**
 * Main
 */

main {
	width: 100%;
	height: auto;
	background-color: #f0f0f0;
}

/** 
 * Article
 */

article {
	position: relative;
	max-width: 1024px;
	min-height: 50em;
	margin: 0 auto;
	padding: 2em 0;
	text-align: center;
}

div.conteudo-container {
	position: relative;
	max-width: 1024px;
	min-height: 50em;
	margin: 0 auto;
	text-align: center;
}

main h1 {
	animation: cair .4s ease-in-out;
	font-family: Raleway, Arial, sans-serif;
	font-size: 5em;
	margin: 0em 0em;
	padding: .5em 0em;
	color: rgba(0,0,0, .6);
}

main p {
	font-family: Source Sans Pro, Arial, sans-serif;
	font-size: 2em;
	margin: 0em 0em;
	color: rgba(0,0,0, .4);
}

main p.erro {
	margin: 0em 0em;
	padding: .4em 0em;
	color: #ff0033;
}

/**
 * Rodapé
 */

footer {
	width: 100%;
	min-height: 19em;
	background-color: #3c3c3c;
}

footer p {
	text-align: center;
	font-size: 2em;
	font-family: Raleway, Arial, sans-serif;
	color: rgba(255,255,255, .8);
	margin: 0em 0em;
	padding: .5em 0em;
}

footer p:nth-child(1) {
	background-color: rgba(0, 0, 0, .2);
}

footer ul {
	width: 100%;
	padding: 1em 0em;
	text-align: center;
}

footer ul li {
	position: relative;
	display: inline-block;
}

footer ul li:hover img {
	transition: .1s ease-in-out;
	box-shadow: 0px 0px 6px white;
}

footer ul li:hover span {
	transition: .1s ease-in-out;
	visibility: visible;
	opacity: 1;
	transform: translate(0px,0px);
}

footer ul li img {
	transition: .1s ease-in-out;
	border-radius: 100%;
	max-width: 5em;
	max-height: 5em;
}

footer ul li span {
	transition: .1s ease-in-out;
	position: absolute;
	font-size: 1.5em;
	font-family: Source Sans Pro, Arial, sans-serif;
	color: rgba(255,255,255, .8);
	visibility: hidden;
	opacity: 0;
	transform: translate(0px, -10px);
	background-color: rgba(0,0,0, .4);
	padding: 0.375em;
	left: 0;
	top: 100%;
}

/**
 * Lista de imagens
 */

ul.imagens-lista {
	padding: 2em 0em;
}

ul.imagens-lista li {
	animation: cair .4s ease-in-out;
	position: relative;
	display: inline-block;
}

ul.imagens-lista li:hover {
	transition: .1s ease-in-out;
	box-shadow: 0px 0px 8px rgba(0,0,0, .4);
}

ul.imagens-lista li:hover div.imagem-container div.imagem {
	animation: scrollarImagem 10s ease-in-out infinite;
	animation-delay: .5s;
}

@keyframes scrollarImagem {
	0% {
		background-position: center center;
	} 25% {
		background-position: center 100%;
	} 75% {
		background-position: center 0%;
	} 100% {
		background-position: center center;
	}
}

ul.imagens-lista li:hover div.imagem-container div.imagem-gradient {
	transition: .1s ease-in-out;
	visibility: visible;
	opacity: .75;
}

ul.imagens-lista li:hover span.imagem-titulo {
	transition: .25s ease-in-out;
	visibility: visible;
	opacity: 1;
	transform: translate(0px, 0px);
}

ul.imagens-lista li:hover span.imagem-descricao {
	transition: .1s ease-in-out;
	transition-delay: .5s;
	visibility: visible;
	opacity: 1;
	transform: translate(0px, 1em);
}

ul.imagens-lista li span.imagem-titulo {
	transition: .1s ease-in-out;
	position: absolute;
	word-wrap: break-word;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	bottom: 0;
	left: 0;
	right: 0;
	width: 90%;
	padding: 0 5%;
	height: 18%;
	color: white;
	font-family: Source Sans Pro, Arial, sans-serif;
	font-size: 1.5em;
	visibility: hidden;
	opacity: 0;
	transform: translate(0px, 1em);
	text-shadow: 0px 0px 6px rgba(0,0,0, .4);
}

ul.imagens-lista li span.imagem-descricao {
	position: relative;
	z-index: 998;
	transition: .1s ease-in-out;
	width: 90%;
	position: absolute;
	word-wrap: break-word;
	padding: 1em 5%;
	background-color: #333;
	left: 0;
	color: white;
	font-family: Source Sans Pro, Arial, sans-serif;
	visibility: hidden;
	opacity: 0;
	border-radius: 5px;
	box-shadow: 0px 0px 6px rgba(0,0,0, .4);
	transform: translate(0px, 2em);
}

ul.imagens-lista li span.imagem-descricao::before {
	position: absolute;
	content: "....";
	color: transparent;
	left: 50%;
	background-color: #333;
	top: -.5em;
	transform: translate(-.5em) rotate(45deg);
}

ul.imagens-lista li div.imagem-container div.imagem {
	width: 252px;
	height: 140px;
	border: 2px solid #CCC;
	background-color: white;
	background-size: cover;
	background-position: center;
}

ul.imagens-lista li div.imagem-container div.imagem-gradient {
	transition: .1s ease-in-out;
	visibility: hidden;
	opacity: 0;
	width: 256px;
	height: 144px;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background-repeat: repeat-x;
	background-position: bottom;
	background-image: url("/static/resources/gradient-100.png");
	background-image: linear-gradient(transparent, transparent, transparent, transparent, #000);
}

/**
 * Imagem
 */

article img.imagem {
	display: block;
	max-width: 100%;
	max-height: 100vh;
	margin: 0em auto;
	box-shadow: 0px 0px 8px rgba(0,0,0, .4);
}

article div.info-container {
	background-color: rgba(0,0,0, .8);
}

article div.imagem-back {
	padding-top: 20px;
	border-radius: 10px 10px 0 0;
	background-color: rgba(0,0,0, .8);
}

article div.imagem-back h1 {
	color: rgba(255,255,255, .8);
}

article p.descricao {
	color: rgba(0,0,0, .5);
	padding: 1em 1em;
}

article p.data-criacao {
	color: cornflowerblue;
	text-align: center;
	font-size: 1.2em;
	margin: 0 1em;
	padding-bottom: 1em;
}

article div.usuario-container {
	overflow: hidden;
	position: relative;
	width: 98%;
	height: 100px;
	padding: 10px 1%;
	border-radius: 10px;
	/*box-shadow: 0px 0px 6px rgba(0,0,0, .4);*/
	background-color: rgba(0,0,0, .7);
}

article div.usuario-container img.usuario-imagem {
	float: right;
	width: 98px;
	height: 98px;
	border: 1px solid #777;
	border-radius: 5px;
}

article div.usuario-container span.usuario-nome {
	float: right;
	font-size: 20px;
	color: #777;
	transform: translate(-10px, 40px);
}

article div.usuario-container-online img.usuario-imagem {
	border-color: cornflowerblue;
	box-shadow: 0px 0px 8px rgba(0,0,0, .4);
}

article div.usuario-container-online span.usuario-nome {
	color: cornflowerblue;
}

article div.comentario-form-container {
	overflow: hidden;
	position: relative;
	width: 98%;
	height: 150px;
	padding: 10px 1%;
	margin-top: 25px;
	border-radius: 5px;
	background-color: rgba(0,0,0, .7);
}

article div.comentario-norm-container {
	background-color: rgba(0,0,0, .05) !important;
	/*margin: .5em 0;*/
	margin: 0 !important;
	border-bottom: 1px solid rgba(0,0,0, .15) !important;
	height: unset !important;
	min-height: 150px !important;
}

article div.comentario-offline-container div.esquerda-container img {
	border: 1px solid #777 !important;
	box-shadow: unset !important;
}

article div.comentario-offline-container div.esquerda-container span.usuario-nome {
	color: #777 !important;
}

article div.comentario-norm-container div.esquerda-container {
	width: 20% !important;
}

article div.comentario-norm-container div.direita-container {
	width: 77.5% !important;
	padding-left: 1% !important;
	min-height: 150px !important;
	border-left: 1px solid rgba(0,0,0, .15) !important;
}

article div.comentario-norm-container div.direita-container span.data-criacao {
	color: cornflowerblue !important;
	font-size: 1.2em;
}

article div.comentario-norm-container div.esquerda-container img {
	width: 45% !important;
	margin-top: 0 !important;
	transform: translate(0, 0%) !important;
}

article div.comentario-norm-container div.esquerda-container span.usuario-nome {
	font-family: Lato, Arial, sans-serif;
	font-size: 1.6em;
	color: cornflowerblue;
}

article div.comentario-form-container div.esquerda-container {
	text-align: center;
	overflow: hidden;
	float: left;
	width: 15%;
	height: 100%;
}

article div.comentario-form-container div.direita-container {
	position: relative;
	float: right;
	width: 85%;
	height: 100%;
}

article div.comentario-form-container div.direita-container form {
	height: 100%;
}

article div.comentario-form-container textarea {
	resize: none;
	margin: 0;
	padding: 0;
	border: 0;
	width: 95%;
	height: 75%;
	border: 1px dashed rgba(255,255,255, .2);
	font-size: 2em;
	font-family: Source Sans Pro, Arial, sans-serif;
	float: right;
	border-radius: 5px;
	color: rgba(255,255,255, .5);
	background-color: rgba(0,0,0, .2);
}

article div.comentario-form-container div.esquerda-container img {
	position: relative;
	display: inline-block;
	width: 85%;
	margin-top: 50%;
	transform: translate(0, -50%);
	border: 1px solid cornflowerblue;
	box-shadow: 0px 0px 8px rgba(0,0,0, .4);
	border-radius: 5px;
}

article div.comentario-form-container button {
	transition: .2s ease-in-out;
	margin: 0;
	margin-top: .5em;
	padding: 0;
	border: 0;
	color: cornflowerblue;
	font-size: 1.4em;
	cursor: pointer;
	padding: .5em;
	border-radius: 5px;
	background-color: transparent;
}

article div.comentario-form-container button:hover {
	transition: .2s ease-in-out;
	color: white;
	padding: .5em 1em;
	background-color: cornflowerblue;
	box-shadow: 0px 2px 6px rgba(0,0,0, .4);
}

/**
 * Perfil
 */

article div.perfil-container {
	background-color: rgba(0,0,0, .75);
	width: 98%;
	padding: 10px 1%;
	border-radius: 10px;
}

article div.perfil-container p.descricao, h1.usuario-nome, p.status-perfil {
	color: rgba(255,255,255, .5);
}

article div.perfil-container img.imagem-perfil {
	width: 198px;
	height: 198px;
	border: 1px solid #777;
	border-radius: 5px;
}

article div.perfil-container-online h1.usuario-nome {
	color: cornflowerblue !important;
}

article div.perfil-container-online img.imagem-perfil {
	border-color: cornflowerblue;
	box-shadow: 0px 0px 8px rgba(0,0,0, .4);
}

article div.perfil-container-online p.status-perfil {
	color: cornflowerblue !important;
}

/**
 * Login
 */

form.aut-formulario {
	display: inline-block;
	position: relative;
	padding: 1em 0;
	font-size: 2em;
}

form.aut-formulario * {
	outline: none;
}

form.aut-formulario label {
	color: cornflowerblue;
	font-weight: 500;
}

form.aut-formulario input {
	margin: 0;
	padding: 0;
	border: 0;
	border-bottom: 1px solid cornflowerblue;
	color: rgba(0,0,0, .4);
	font-size: .9em;
	background-color: transparent;
}

form.aut-formulario button {
	transition: .2s ease-in-out;
	margin: 0;
	margin-top: .5em;
	padding: 0;
	border: 0;
	color: cornflowerblue;
	font-size: .75em;
	cursor: pointer;
	padding: .5em;
	border-radius: 5px;
	background-color: transparent;
}

form.aut-formulario button:hover {
	transition: .2s ease-in-out;
	color: white;
	padding: .5em 1em;
	background-color: cornflowerblue;
	box-shadow: 0px 2px 6px rgba(0,0,0, .4);
}

form.aut-formulario span.caixaerro {
	transition: .1s ease-in-out;
	z-index: 998;
	position: absolute;
	left: 0;
	top: 100%;
	width: 100%;
	background-color: #333;
	padding: .2em;
	border-radius: 5px;
	font-size: .75em;
	color: rgba(255,255,255, .75);
	visibility: hidden;
	opacity: 0;
	transform: translate(0em, -1em);
	box-shadow: 0px 0px 6px rgba(0,0,0, .4);
}

form.aut-formulario span.caixaerro::before {
	z-index: -1;
	position: absolute;
	content: "....";
	color: transparent;
	left: 50%;
	background-color: #333;
	font-family: Source Sans Pro, Arial, sans-serif;
	top: -.5em;
	transform: translate(-.5em) rotate(45deg);
}

form.aut-formulario:hover span.caixaerro {
	transition: .1s ease-in-out;
	visibility: visible;
	opacity: 1;
	transform: translate(0em, 0em);
}

form.aut-formulario i.fa-warning {
	position: absolute;
	right: 0;
	color: #ff0033;
}

/**
 * Enviar
 */

#enviarForm {
	position: relative;
	overflow: hidden;
}

#enviarForm input[type=file], #enviarForm input[type=text], #enviarForm textarea {
	color: rgba(255,255,255, .5) !important;
	font-family: Source Sans Pro, Arial, sans-serif !important;
}

#enviarForm input[name=imgti] {
	width: 80%;
}

#enviarForm textarea {
	resize: vertical;
	margin: 0;
	padding: 0;
	border: 0;
	width: 95%;
	max-height: 50vh;
	min-height: 128px;
	border: 1px dashed rgba(255,255,255, .2);
	border-radius: 5px;
	color: rgba(255,255,255, .5);
	background-color: rgba(0,0,0, .2);
}

/**
 * Enviar erro
 */

.erro-dialogo-fundo {
	transition: .3s ease-in-out;
	z-index: 1000;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100vh;
	visibility: hidden;
	opacity: 0;
	background-color: rgba(0,0,0, .8);
}

.erro-dialogo-fundo-ativado {
	transition: .3s ease-in-out;
	visibility: visible;
	opacity: 1 !important;
}

.erro-dialogo-fundo-ativado .erro-dialogo {
	transition: .2s ease-in-out;
	transform: translate(0, -50%) !important;
	opacity: 1 !important;
}

.erro-dialogo-fundo .erro-dialogo {
	transition: .2s ease-in-out;
	text-align: center;
	position: relative;
	margin: 50vh auto 0 auto;
	transform: translate(0, 0%);
	opacity: 0;
	max-width: 512px;
	background-color: white;
	border-radius: 5px;
}

.erro-dialogo-fundo .erro-dialogo h1 {
	margin: 0;
	padding: .5em 0;
	color: #ff0033;
	font-size: 4em;
	font-family: Lato, Arial, sans-serif;
}

.erro-dialogo-fundo .erro-dialogo p {
	margin: 0;
	padding: .5em 0;
	color: rgba(0,0,0, .7);
	font-size: 2em;
	font-family: Source Sans Pro, Arial, sans-serif;
}

.erro-dialogo-fundo .erro-dialogo button {
	transition: .2s ease-in-out;
	margin: .5em;
	padding: 0;
	border: 0;
	color: #ff0033;
	font-size: 1.4em;
	cursor: pointer;
	padding: .5em;
	border-radius: 5px;
	background-color: transparent;
}

.erro-dialogo-fundo .erro-dialogo button:hover {
	transition: .2s ease-in-out;
	color: white;
	padding: .5em 1em;
	background-color: #ff0033;
	box-shadow: 0px 2px 6px rgba(0,0,0, .4);
}
