@charset "utf-8";

body {
    margin: 0px;
    padding: 0px;
    font-size: 10px;
    background-color: #444;
}

a.link {
    text-decoration: none;
}

a.link-azul {
    color: cornflowerblue;
}

a.link-azul:hover {
    color: lightskyblue;
}

/* Barra de scroll -> WebKit */

::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(0,0,0, .4);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 6px rgba(0,0,0, .4);
}

/**
 * Cabeçalho da página
 */

header.cabecalho {
    z-index: 999;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 50px;
    overflow: hidden;
    background-color: #333;
    box-shadow: 0px 0px 8px black;
}

header.cabecalho a.link-pagina-login {
    float: right;
    transform: translate(-14px, 18px);
    color: rgba(255, 255, 255, .6);
    font-family: Lato, Arial, sans-serif;
    font-size: 14px;
}

header.cabecalho a.link-pagina-login:hover {
    color: rgba(255, 255, 255, .5);
    text-decoration: underline;
}

/**
 * Logo
 */

header.cabecalho #cabecalho-logo {
    transition: background-color .2s ease-in-out;
    float: left;
    max-height: 50px;
    padding-right: 10px;
    padding-left: 10px;
}

header.cabecalho #cabecalho-logo:hover {
    transition: background-color .2s ease-in-out;
    background-color: #222;
}

/**
 * Pesquisa
 */

header.cabecalho #cabecalho-pesquisa {
    float: left;
    height: 50px;
    background-color: white;
    position: relative;
}

header.cabecalho #cabecalho-pesquisa {
    border-left: 1px solid rgba(0, 0, 0, .2);
    border-right: 1px solid rgba(0, 0, 0, .2);
}

header.cabecalho #cabecalho-pesquisa i.fa {
    transition: .2s ease-in-out;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 2em;
    color: rgba(0,0,0, .4);
}

header.cabecalho #cabecalho-pesquisa:hover i.fa {
    transition: .2s ease-in-out;
    color: #ff0033;
}

header.cabecalho #cabecalho-pesquisa input[type=text] {
    transition: .2s ease-in-out;
    margin: 0px;
    padding: 0px;
    border: 0px;
    height: 50px;
    font-family: Lato, Arial, sans-serif;
    font-size: 20px;
    color: rgba(0, 0, 0, .5);
    text-indent: 5px;
    width: 100px;
}

header.cabecalho #cabecalho-pesquisa input[type=text]:focus {
    transition: .2s ease-in-out;
    width: 250px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, .4);
}

/**
 * Links
 */

header.cabecalho nav.cabecalho-nav {
    float: left;
    height: 50px;
}

header.cabecalho nav.cabecalho-nav ul.cabecalho-links-lista {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    font-size: 0px;
}

header.cabecalho nav.cabecalho-nav ul.cabecalho-links-lista li {
    display: inline-block;
    height: 50px;
}

header.cabecalho nav.cabecalho-nav ul.cabecalho-links-lista li a {
    transition: .2s ease-in-out;
    display: inline-block;
    font-size: 20px;
    font-family: Lato, Arial, sans-serif;
    text-transform: uppercase;
    padding: 13px;
    color: rgba(255,255,255, .6);
    border-left: 1px solid rgba(0,0,0, .2);
}

header.cabecalho nav.cabecalho-nav ul.cabecalho-links-lista li a:hover {
    transition: .2s ease-in-out;
    background-color: #222;
    color: #ff0033;
}

/* Segundo header físico / Imagem showcase */

div.imagem-showcase {
    position: relative;
    /**
    * Colocando 50px de margin, pois nosso header está flutuando com posicionamento fixed
     */
    margin-top: 50px;
    border-bottom: 2px solid #222;
    width: 100%;
    height: 450px;
    font-size: 80px;
    font-family: Lato, Arial, sans-serif;
    overflow: hidden;
}

div.imagem-showcase div.imagem-showcase-container {
    position: relative;
    width: 100%;
    height: 450px;
    text-align: center;
}

div.imagem-showcase div.imagem-showcase-container #imagem-showcase-titulo {
    display: inline-block;
    margin: 0px;
    margin-top: 185px;
    word-wrap: break-word;
    color: white;
    text-transform: uppercase;
    text-shadow: 0px 0px 8px rgba(0,0,0, .4);
}

div.imagem-showcase div.imagem-showcase-container #imagem-showcase-titulo .azul-negrito {
    color: cornflowerblue;
    font-weight: bolder;
}

div.imagem-showcase div.imagem-showcase-container #imagem-showcase-titulo .versao {
    font-size: 10px;
}

div.imagem-showcase div.imagem-showcase-gradient {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 450px;
    /* Para navegadores que não suportam linear-gradient */
    background-image: url("/static/recursos/phpgallery/gradient-150.png");

    background-image: linear-gradient(transparent, transparent, transparent, transparent, #000);
    background-repeat: repeat-x;
    background-position: bottom;
}

div.imagem-showcase div.imagem-showcase-imagem {
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 450px;
    background-image: url("/static/recursos/phpgallery/phpgallery-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    filter: blur(2px);
    filter: blur(.3vw);
}

/* Main */

main {
    max-width: 1024px;
    margin: 0px auto;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

/* Conteúdo */

div.conteudo {
    background-color: #333;
    /*min-height: 512px;*/
}

/* Conteudo divisão */

div.conteudo-divisao {
    position: relative;
    background-color: #222;
    height: 50px;
    /*box-shadow: 0px 0px 6px rgba(0,0,0, .4);*/
}

div.conteudo-divisao h1 {
    font-size: 40px;
    height: 50px;
    padding-left: 50px;
    padding-right: 50px;
    color: white;
    word-wrap: break-word;
    overflow: hidden;
    margin: 0px;
    font-family: Raleway, Arial, sans-serif;
    text-transform: uppercase;
    text-align: center;
}

div.conteudo-divisao i.conteudo-divisao-icone {
    z-index: 50;
    position: absolute;
    font-size: 50px;
    left: 10px;
    font-weight: bolder;
    color: #ff0033;
    /*transform: scale(1.4);*/
}

/**
 * Lista de imagens
 */

ul.lista-imagens {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    font-size: 0px;
    text-align: center;
}

ul.lista-imagens p.lista-imagens-mensagem {
    display: inline-block;
    font-size: 25px;
    font-family: Raleway, Arial, sans-serif;
    color: #ff0033;
}

ul.lista-imagens li {
    position: relative;
    display: inline-block;
    background-color: transparent;
    border-radius: 5px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    padding: 5px;
}

ul.lista-imagens div.lista-imagem-container {
    position: relative;
}

ul.lista-imagens div.lista-imagem-container div.lista-imagem-gradient span.lista-imagem-titulo {
    position: absolute;
    bottom: 5px;
    left: 0px;
    right: 0px;
    width: 256px;
    font-size: 10px;
    font-family: Raleway, Arial, sans-serif;
    color: white;
    height: 12px;
    word-wrap: break-word;
    overflow: hidden;
}

ul.lista-imagens li:hover {
    background-color: rgba(0,0,0, .2);
}

ul.lista-imagens li:hover div.lista-opcoes-container button.lista-opcoes-botao {
    visibility: visible;
}

ul.lista-imagens li:hover div.lista-imagem-imagem {
    box-shadow: unset;
}

ul.lista-imagens li:hover div.lista-imagem-container div.lista-imagem-gradient {
    transition: .2s ease-in-out;
    opacity: 1;
}

ul.lista-imagens li:hover span.lista-imagem-caixa-descricao {
    transition: .1 ease-in-out;
    visibility: visible;
    opacity: 1;
    transform: scale(1.0) translate(0px, 5px);;
}

ul.lista-imagens li span.lista-imagem-caixa-descricao {
    transition: .1s ease-in-out;
    z-index: 998;
    position: absolute;
    font-size: 10px;
    font-family: Raleway, Arial, sans-serif;
    visibility: hidden;
    width: 256px;
    opacity: 0;
    height: auto;
    left: 0px;
    padding: 5px;
    border-radius: 2.5px;
    transform: translate(0px, 15px);
    background-color: rgba(0,0,0, .6);
    color: white;
    text-align: justify;
    display: inline-block;
}

ul.lista-imagens li span.lista-imagem-caixa-descricao span.autor {
    color: lightskyblue;
    font-weight: bolder;
    font-family: Lato, Arial, sans-serif;
}

ul.lista-imagens li span.lista-imagem-caixa-descricao span.extensao {
    color: #ff0033;
    font-family: Open Sans, Arial, sans-serif;
}

ul.lista-imagens li div.lista-imagem-container div.lista-imagem-imagem {
    width: 256px;
    height: 144px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: block;
    box-shadow: 0px 2px 6px rgba(0,0,0, .4);
}

ul.lista-imagens li div.lista-opcoes-container {
    text-align: center;
    /*background-color: rgba(0,0,0, .2);*/
}

ul.lista-imagens li div.lista-opcoes-container button.lista-opcoes-botao {
    font-size: 15px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border: 0px;
    border-radius: 5px;
    color: white;
    background-color: #ff0033;
    visibility: hidden;
    cursor: pointer;
}

ul.lista-imagens li div.lista-opcoes-container button.lista-opcoes-botao:hover {
    font-size: 15px;
    background-color: #ee0022;
    box-shadow: 0px 2px 6px rgba(0,0,0, .4);
}

ul.lista-imagens li div.lista-imagem-gradient {
    transition: .2s ease-in-out;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 256px;
    height: 144px;
    /* Para navegadores que não suportam linear-gradient */
    background-image: url("/static/recursos/phpgallery/gradient-50.png");

    background-image: linear-gradient(transparent, transparent, transparent, transparent, #000);
    background-repeat: repeat-x;
    background-position: bottom;
}

/* Visualização de imagens (JavaScript) */

div.visualizacao-fundo {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: .3s ease-in-out;
    width: 100%;
    height: 0px;
    background-color: rgba(0,0,0, .8);
    overflow: hidden;
}

div.visualizacao-fundo-ativado {
    transition: .3s ease-in-out;
    opacity: 1;
    height: 100vh;
}

div.visualizacao-fundo-ativado div.visualizacao-imagem-container img {
    transition: .3s ease-in-out;
    transform: scale(1.0) translate(0px, -50%);
}

div.visualizacao-imagem-container {
    overflow: hidden;
    position: relative;
    float: right;
    width: 85%;
    height: 100vh;
    text-align: center;
}

div.visualizacao-imagem-container img {
    position: relative;
    margin-top: 50vh;
    display: inline-block;
    transition: .3s ease-in-out;
    max-width: 80%;
    max-height: 80vh;
    transform: scale(0.5) translate(0px, -100%);
}

div.visualizacao-galeria-container {
    float: left;
    width: 15%;
    height: 100%;
    overflow-y: scroll;
}

div.visualizacao-galeria-container ul {
    margin: 0px;
    padding: 0px;
}

div.visualizacao-galeria-container ul li {
    position: relative;
    background-color: transparent;
    height: 50px;
}

div.visualizacao-galeria-container ul li:hover {
    background-color: rgba(0,0,0, .4);
}

div.visualizacao-galeria-container ul li span {
    position: absolute;
    display: inline-block;
    top: 50%;
    right: 0px;
    bottom: 0px;
    width: 60%;
    height: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    font-family: Raleway, Arial, sans-serif;
    font-size: 10px;
    color: white;
    transform: translate(0px, -5px);
}

li.visualizacao-galeria-imagem-selecionado {
    background-color: rgba(0,0,0, .4) !important;
}

div.visualizacao-galeria-container ul li div {
    display: inline-block;
    width: 40%;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div.visualizacao-fundo i.visualizacao-fechar {
    position: absolute;
    font-size: 40px;
    top: 10px;
    right: 10px;
    color: white;
    cursor: pointer;
}

div.visualizacao-fundo i.visualizacao-fechar:hover {
    color: #ff0033;
}

/**
 * Rodapé
 */

footer.rodape {
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #333;
}

footer.rodape p {
    margin: 0px;
    padding: 0px;
    font-family: Lato, Arial, sans-serif;
    color: white;
    font-size: 20px;
    text-align: center;
    word-wrap: break-word;
    overflow: hidden;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #222;
    padding: 10px;
}

footer.rodape p span.azul {
    color: cornflowerblue;
    font-weight: bolder;
}

footer.rodape p i {
    color: cornflowerblue;
}

footer.rodape ul {
    margin: 0px;
    padding: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

footer.rodape ul li {
    transition: .2s ease-in-out;
    border-radius: 50%;
    padding-top: 2px;
    padding-left: 2px;
    padding-right: 2px;
    position: relative;
    display: inline-block;
}

footer.rodape ul li:hover  {
    transition: .2s ease-in-out;
    background-color: rgba(0,0,0, .4);
    box-shadow: 0px 0px 6px black;
}

footer.rodape ul li:hover span {
    transition: .1s ease-in-out;
    visibility: visible;
    transform: scale(1.0);
}

footer.rodape ul li img {
    position: relative;
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
}

footer.rodape ul li span {
    transition: .1s ease-in-out;
    position: absolute;
    display: inline-block;
    color: white;
    left: 60px;
    top: 15px;
    visibility: hidden;
    transform: scale(.1);
    padding: 5px;
    font-family: Raleway, Arial, sans-serif;
    background-color: rgba(0,0,0, .6);
    border-radius: 2.5px;
}

/* Status */

p.status {
    transition: .2s ease-in-out;
    font-size: 30px;
    font-family: Open Sans, Arial, sans-serif;
    color: rgba(255,255,255, .6);
    padding: 10px;
    margin: 0px;
    border-bottom: 1px solid #222;
    text-align: left;
}

p.status:hover {
    transition: .2s ease-in-out;
    text-indent: 2px;
    background-color: rgba(0,0,0, .2);
}

p.status span {
    color: cornflowerblue;
}

/* 404 */

main.erro-notfound {
    width: 100% !important;
    max-width: unset !important;
    background-color: #2067b2;
}

div.conteudo-erro-notfound {
    max-width: 1024px;
    margin: 0px auto;
    color: white;
    font-family: Lato, Arial, sans-serif;
    background-color: #2067b2;
}

div.conteudo-erro-notfound span.erro-titulo {
    display: inline-block;
    font-size: 150px;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 5px;
    word-wrap: break-word;
    text-overflow: hidden;
}

div.conteudo-erro-notfound span.erro-descricao {
    display: inline-block;
    font-size: 30px;
    margin-left: 50px;
    margin-bottom: 50px;
    word-wrap: break-word;
    text-overflow: hidden;
}
